input .input{
color: rgb(0, 100, 255);
}

#header{
color: rgb(233, 233, 236);
background-color: rgb(60, 60, 60);
}
.divider{
background-color: rgb(10, 130, 255);
}

#active_notification{
background: rgb(12,146,255);
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(12,146,255)), to(rgb(6,130,255)));
border: 2px solid  rgb(0,106,255);
}
#active_notification:hover{
background: rgb(0,120,255);
background: -webkit-gradient(radial, center center, 100, center center, 400, from(rgb(0,120,255)), to(rgb(0,100,255)));
}
#active_notification:active{
background: rgb(0,100,255);
background: -webkit-gradient(radial, center center, 100, center center, 400, from(rgb(0,80,255)), to(rgb(0,100,255)));
}
#sidebar{
background: rgb(255, 170, 0);
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 170, 0)), to(rgb(225, 140, 0)));
}
#sidebar-heading{
font-size: 1.2em;
padding: 5px;
}
#sidebar-heading  > span{
color: white;
text-shadow: 1px 1px 10px rgba(33, 33, 33, 0.8);
}
#sidebar li{
border-top: 1px solid rgb(33, 33, 33);
}
#sidebar li.last-li{
border-bottom: 1px solid rgb(33, 33, 33);
}
#sidebar li:hover{
background: rgb(225, 140, 0);
background: -webkit-gradient(radial, center center, 100, center center, 400, from(rgb(225, 140, 0)), to(rgb(205, 120, 0)));
}
#sidebar li:active{
box-shadow:inset 4px 4px 8px rgba(0, 0, 0, 0.25);
background: rgb(205, 120, 0);
background: -webkit-gradient(radial, center center, 100, center center, 400, from(rgb(205, 120, 0)), to(rgb(185, 100, 0)));
}

#sidebar li > a{
padding: 5px;
font-size: 1.2em;
text-decoration: none;
}
#sidebar li > a > span{
color: white;
}

.submenu{
background: rgb(225, 140, 0);
}
.submenu-connector{
background-image: -webkit-gradient(linear, 25% 0%, 0% 0%, from(rgb(225, 140, 0)), to(rgb(205, 120, 0)));
background-image: -moz-linear-gradient(center right, rgb(225, 140, 0) 25%, rgb(205, 120, 0) 80%);
}
.element{
border: 1px solid rgb(207, 205, 201);
background-color: rgb(255, 255, 255);
-webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);
box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);
}
.element-heading{
background-color: rgb(235, 234, 236);
border-bottom: 1px solid rgb(210, 210, 210);
}
.element-heading > span{
color: rgb(255, 190, 40);
}
