
@import url("buttons.css");
@import url("notification.css");
@import url("growl.css");
@import url("label.css");
@import url("table.css");
@import url("progress.css");


@media screen and (min-width: 460px){
body {
font-family: "Open Sans", Arial, Helvetica, sans-serif;
font-size: 15px;
line-height: 1.428571429;
color: rgb(51, 51, 51);
}
}
@media screen and (max-width: 459px){
body {
font-size: 12px;
line-height: 1.248;
color: rgb(49, 49, 49);
}
}





.container{
width: 100%;
}

/* general */
body, html{
margin: 0;
padding: 0;
background: rgb(235, 234, 236);
}
ul{
margin: 0;
padding: 0;
}
a{
color: rgb(38, 103, 168);
text-decoration: none;
}
a:hover{
text-decoration: underline;
}
hr {
margin-top: 20px;
margin-bottom: 20px;
border: 0;
border-top: 1px solid rgb(238, 238, 238);
box-sizing: content-box;
height: 0;
}
.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}


#header{
width: 100%;
height: 29px;
position: fixed;
}
.divider{
width: 1px;
height: 100%;
float: left;
margin-left: 5px;
margin-right: 5px;
}

.header-element{
float: left;
margin-left: 10px;
margin-top: 2px;
}
#user_control{
float: right;
right: 0px;
}


#triangle-notification_dropdown{
margin-left: 60px;
margin-top: -10px;
position: absolute;
font-size: 0px; line-height: 0%; width: 0px; 
border-bottom: 12px solid rgb(235, 235, 230);/* Dreieckfarbe*/ 
border-left: 9px solid transparent; 
border-right: 9px solid transparent; 
}

.dropdown_splitter{
height: 1px;
width: 100%;
background: rgb(71,196,85);
background: -webkit-gradient(linear, 0% 100%, 100% 0%, from(rgb(71,196,85)), to(rgb(51,176,65)));
}
#project_dropdown{
border: 1px solid rgb(71,196,85);
background-color: rgb(235, 235, 230);
border-radius: 5px;
margin-left: 10px;
width: 98%;
}

.dropdown_element{
padding: 5px;
height: 20px;
cursor: pointer;
}
.dropdown_element:hover{
color: white;
background: rgb(51,176,65);
background: -webkit-gradient(radial, center center, 100, center center, 400, from(rgb(51,176,65)), to(rgb(71,196,85)));
}
.dropdown_element:active{
color: white;
background: rgb(41,166,55);
background: -webkit-gradient(radial, center center, 100, center center, 400, from(rgb(41,166,55)), to(rgb(21,146,35)));
}

/** Sidebar **/
#sidebar{
z-index: 5;
width: 190px; 
position: fixed;
height: 100%;
-webkit-box-shadow: 5px 1px 10px rgba(33, 33, 33, 0.8);
box-shadow: 5px 1px 10px rgba(33, 33, 33, 0.8);
display:none;
}
#sidebar.visible{
display: block;
}
#sidebar-heading{
font-size: 1.3em;
padding: 5px;
margin-bottom: 30px;
margin-top: 25px;
}
#sidebar-heading  > span{
text-align: center;
padding: 15px;
}
#sidebar li{
padding-left: 15px;
padding-top: 5px;
padding-bottom: 5px;
list-style: none;
}
#sidebar li > span{
margin-left: 25px;
font-size: 1.2em;
}
.submenu{
position: absolute;
margin-left: 200px;
margin-top: -36px;
-webkit-box-shadow: 5px 1px 10px rgba(33, 33, 33, 0.8);
box-shadow: 5px 1px 10px rgba(33, 33, 33, 0.8);
}
.submenu-connector{
position: absolute;
margin-left: -10px;
width: 10px;
height: 36px;
}
/* Help*/
#help_content{
display: none;
background-color: rgb(202, 200, 195);
border: 1px solid rgb(207, 205, 201);
border-radius: 0px 0px 5px 5px;
}
#help_selection{
float: left;
width: 150px;
margin: 0;
}
#help_selection_list{
list-style: none;
padding: 5px;
padding-right: 0px;
height: 100%;
}
#help_selection_list ul{
margin: 1em 0;
}
#help_selection_list li{
margin-bottom: 0;
list-style-type: none;
border-style: solid;
border-width: 1px 0;
border-color: rgba(0, 0, 0, 0);
}
.help-sitebar-list{
color: rgb(38, 103, 168);
cursor: pointer;
}
.help-sitebar-list.active{
background-color: white;
text-decoration: underline;
}

.help_box {
margin-left: 150px;
background-color: white;
box-shadow: 0px 1px 5px rgba(0,0,0,0.4);
padding: 5px;
padding-bottom: 15px;
min-height: 50px;
}
.help_element_title{
font-weight: bold;
color: rgb(51,51,51);
}

#help_toggle{
float: right;
}

/* Main window */
#header-fixed-helper{
margin-top: 30px;
width: 100%;
display: inline-block;
}

#contentframe{
margin: 8px;
width: 95%;
padding-bottom: 35px;
margin: 0px auto;
height: auto;
border-left: 1px solid rgb(210, 210, 210);
border-right: 1px solid rgb(210, 210, 210);
background-color: rgb(251, 251, 251);
}

#metabox{
width: 100%;
clear: both;
display: inline-block;
}
.element{
float: left;
margin: 5px;
}
.element-heading{
text-align: center;
}
.element-heading > span{
display: block;
font-size: 1.4em;
}

/* Statistics */
.main-statistic, .statistics-development, .statistics-development{
text-align: center !important;
}
.main-statistic{
padding: 5px;
margin-bottom: 5px;
border-bottom: 1px dotted rgb(170, 170, 170) !important;
}
.statistics-development{
font-size: 1.2em;
}
.statistic-description{
font-size: 0.8em;
color: rgb(16, 16, 16);
}
/* Settings */
.setting_label{
width: 200px;
}