body{
background: rgb(237,220,199);
background: -moz-radial-gradient(center, ellipse cover,  rgb(237,220,199) 1%, rgb(242,229,213) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%, rgb(237,220,199)), color-stop(100%,rgb(242,229,213)));
background: -webkit-radial-gradient(center, ellipse cover, rgb(237,220,199) 1%,rgb(242,229,213) 100%);
background: -o-radial-gradient(center, ellipse cover,  rgb(237,220,199) 1%,rgb(242,229,213) 100%);
background: -ms-radial-gradient(center, ellipse cover,  rgb(237,220,199) 1%,rgb(242,229,213) 100%);
background: radial-gradient(ellipse at center, rrgb(237,220,199) 1%,rgb(242,229,213) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(237,220,199)', endColorstr='rgb(242,229,213)',GradientType=1 );
}
h1{
color: #707070;
text-shadow: 3px 3px 0 #EEEEEE, 5px 5px 0 #707070;
}